 @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

body {
    font-family: 'Verdana', sans-serif;
    background-color: #f9f5f2;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(https://img.freepik.com/vector-premium/fondo-dorado-degradado-color-suave_573652-266.jpg);
    color: #fff;
    text-align: center;
    padding: 2em 0;
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    background-image: url(https://img.freepik.com/vector-premium/fondo-dorado-degradado-color-suave_573652-266.jpg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

h1 {
    color: rgb(0, 0, 0);
}

h2 {
    color: #333;
}

p {
    line-height: 1.8;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-image: url(https://img.freepik.com/vector-premium/fondo-dorado-degradado-color-suave_573652-266.jpg);
    color: #fff;
}
div{
    width: 200px;
    height: auto;
    margin: 20px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: 0.5s;
    object-fit: cover;
}
img:hover{
    transform: scale(1.2);
}
h1{
    font-family: 'Lobster Two', sans-serif;
    width: 100%;
}
h2{
    font-family: 'Courgette', cursive;
}
h4{
    font-family: 'Playfair Display', serif;
}
p{
    font-family: 'Mulish', sans-serif;
}
h3{
    font-family: 'DM Serif Display', serif;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.styled-button {
    background-color: #25D366; /* Color verde de WhatsApp */
    color: #ffffff;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .styled-button:hover {
    background-color: #128C7E; /* Cambio de color al pasar el ratón */
  }